# Compiled class files
target/

# Logs
*.log

# IDE files
.idea/
*.iml

# Maven specific
log/
log/*
!log/.gitkeep
spring-boot-starter-logging.log

# Gradle specific
.gradle/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Application specific
.env

# Spring Boot DevTools
.restart*
